/* Make event/discussion text boxes taller and darker */
#topsection, #footer
{
  display: none !important;
}

#contentwrapper {
  float: left !important;
  width: 70% !important;
}

#contentcolumn
{
  float: right !important;
  width: 100% !important;
  overflow: hidden !important;
}

#rightcolumn
{
  float: left !important;
  width: calc(70%) !important;
  height: calc(100% - 304px) !important;
}

#rightcolumn2
{
  float: right;
  width: calc(30%) !important;
  height: calc(100% - 300px) !important;
}

#mapDis {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important
}

#mapDis tr td .tile {
  width: 200px !important;
  height: 200px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  max-width: 33% !important;
  border: 0px !important
}

#mapDis
{
  float: right !important;
  margin: 0 auto;
  display: block;
  width: 628px;
  border: 10px solid #161616;
}

#eventText
{
  float: left;
  width: calc(100% - 651px) !important;
  overflow: hidden;
  height: 669px !important;
  max-height: 900px !important;
  padding: 0px !important;
}

.actions
{
  background: none !important;
  float: right;
  padding: 0px;
}

.inventory_b {
  float: left;
  text-align: center;
  position: relative;
  z-index: 1;
}

.inventory_b td.inventory_b_inner {
  position: relative;
  border: 1px solid #4c3719;
}

.inventory_b td img 
{
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
}

.inventory_b td a {
  background-color: #2e271c;
  display: block;
}

.inventory_b td a:hover {
  opacity: 0.8;
  background-color: #4c3719;
}

.inventory_b td.second_url_active span {
  border: 1px solid #c0c0c0;
}

.second_url {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #fff !important;
  text-decoration: none !important;
  width: 10px;
  height: 10px;
  font-size: 11px;
}

span.count_b {
  position: absolute;
  right: 0px !important;
  top: 0px !important;
  line-height: 10px !important;
  z-index: 2;
  color: #fff !important;
  width: 10px !important;
  height: 10px !important;
  font-size: 10px !important;
  text-align: center !important;
  border: 0px !important;
  background: none !important;
}

.second_url:hover {
  /* animate 1 second all */
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  width: 12px;
  height: 12px;
  font-size: 14px;
  padding-top: 24px;
  padding-left: 24px;
}

.inventory_b td span {
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 10px;
  color: #c0c0c0;
  background-color: #000;
  border: 1px solid #c0c0c0;
}

.inventory_b td span.count_b {
  opacity: 0.2 !important;
}

.inventory_b:hover td span.count_b {
  background-color: #4c3719 ! important;
  border: 1px solid #4c3719 ! important;
  padding: 1px;
  opacity: 1 !important;
}