/* Make event/discussion text boxes taller and darker */
#topsection, #footer
{
  display: none !important;
}

#contentwrapper {
  float: left !important;
  width: 70% !important;
}

#contentcolumn
{
  float: right !important;
  width: 100% !important;
  overflow: hidden !important;
}

#rightcolumn
{
  float: left !important;
  width: calc(70%) !important;
  height: calc(100% - 300px) !important;
}

#rightcolumn2
{
  float: right;
  width: calc(30%) !important;
  height: calc(100% - 300px) !important;
}

#mapDis tr td .tile {
  width: 200px !important;
  height: 200px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#mapDis
{
  float: right !important;
  margin: 0 auto;
  display: block;
  width: 628px;
  border: 10px solid #161616;
}

#eventText
{
  float: left;
  width: calc(100% - 651px) !important;
  overflow: hidden;
  height: 669px !important;
  max-height: 900px !important
}

.actions
{
  background: none !important;
  float: right;
  padding: 0px;
}

.inventory_b {
  float: left;
  border: 1px solid #4c3719;
  text-align: center;
}

.inventory_b td {
  position: relative;
}

.inventory_b td img 
{
  width: 64px;
  height: 64px;
}

.inventory_b td a {
  background-color: #2e271c;
  display: block;
}

.inventory_b td a:hover {
  opacity: 0.8;
  background-color: #4c3719;
}

.inventory_b td span {
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 10px;
  color: #c0c0c0;
  background-color: #000;
  border: 1px solid #c0c0c0;
}